*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myprof{
  
    width:465px;
    height: 650px;
    border-right: 1.2px solid rgba(128, 128, 128, 0.123);
   .top{
     padding: 0 32px;
     display: flex;
     width:100%;
    height: 5rem;
    border-bottom: 1.2px solid rgba(128, 128, 128, 0.178);
    
    justify-content: space-between;
    align-items: center;

    .info{
      display: flex;
      justify-content: center;
      align-items: center;
      .hero{
          width:40px;
          height: 40px;
          border-radius: 50px;
          object-fit: cover;
        }
        span{
          margin-left: 0.3rem;
          
          p{
            font-size: 0.8rem;
            color: gray;
          
          }
          h3{
            font-size: 1rem;
            font-weight: 600;
            
          }
        }

    }

    .btns{
      
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      button{
        font-size: 1.2rem;
        margin-left: 0.4rem ;
        border: none;
        width:40px;
        height: 40px;
        border-radius: 50px;
        box-shadow: 0 0 3px rgba(128, 128, 128, 0.836);
        background-color: rgba(241, 236, 236, 0.89);
    
      }
      
        img{
          width:40px;
          height: 40px;
          margin-left: 14px ;
          box-shadow: 0 0 3px rgba(128, 128, 128, 0.795);
          border-radius: 50px;
          background-color: rgba(250, 246, 246, 0.89);
         
        }
        
     
    }
  }
}

.pinmes{
  
    width:100%;
    height: max-content;
    display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 32px;
   span{
      display: flex;
      align-items: center;
      
     
    img{
      width: 30px;
      height: 30px;
      margin-left: 0.4rem ;
      box-shadow: 0 0 3px rgba(128, 128, 128, 0.795);
      border-radius: 50px;
      background-color: rgba(250, 246, 246, 0.89);
    }
    p{
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      color: gray;
      margin-left: 15px;
    }
    .icon{
      margin-left: 15px;
      opacity: 0.5;
    }
   }
   .threedot{
     font-size: 1.8rem;
     letter-spacing: 150%;
     margin: 0;
     opacity: 0.5;
     margin-bottom: 5px;
   }
    
 
  
}



.userpro{
  display: flex;
  width:465px;
  padding: 0 32px 18px 32px;
  justify-content: space-between;
  align-items: center;
  .info{
    display: flex;
    justify-content: center;
    align-items: center;
    .hero{
        width:45px;
        height:45px;
        border-radius: 50px;
        object-fit: cover;
      }
      
      span{
        margin-left:20px;
        
        p{
          font-size: 1rem;
          font-weight: 600;
        
        }
        h3{
          font-size: 0.8rem;
          font-weight: 400;
          color: rgb(172, 170, 170);
        }
      }
     
  }
}

.time{
  margin-left: auto;
  font-size: 10px;
  font-weight: 500;
  color: rgba(148, 144, 144, 0.699);
}



.groupmes{
  
  
    width:100%;
    height: max-content;
    display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 32px;
   span{
      display: flex;
      align-items: center;
      
     
    img{
      width: 30px;
      height: 30px;
      margin-left: 0.4rem ;
      box-shadow: 0 0 3px rgba(128, 128, 128, 0.795);
      border-radius: 50px;
      background-color: rgb(250, 155, 12);
    }
    p{
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      color: gray;
      margin-left: 15px;
    }
    .icon{
      margin-left: 15px;
      opacity: 0.5;
    }
   }
   .threedot{
     font-size: 1.8rem;
     letter-spacing: 150%;
     margin: 0;
     opacity: 0.5;
     margin-bottom: 5px;
   }
    
 
  
  
}


.AllMes{
  
  
  width:100%;
  height: max-content;
  display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 32px;
 
 span{
    display: flex;
    align-items: center;
    
   
  img{
    width: 26px;
    height: 26px;
    margin-left: 0.4rem ;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.795);
    border-radius: 50px;
    background-color: rgb(250, 155, 12);
  }
  p{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    margin-left: 15px;
  }
  .icon{
    margin-left: 15px;
    opacity: 0.5;
  }
 }
 .threedot{
   font-size: 1.8rem;
   letter-spacing: 150%;
   margin: 0;
   opacity: 0.5;
   margin-bottom: 5px;
 }
  



}